/* ShoppingList.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
body {
  background-color: #f0f0f5; /* Um cinza claro para suavizar a página */
  font-family: 'Poppins', sans-serif; /* Garantir fontes limpas e modernas */
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

h1 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 0;
}

h2 {
  color: #4caf50;
  font-size: 1.2em;
  margin-bottom: 15px;
  text-align: center;
}

.addListItem {
    background-color: #a3f7a6;
    color: #045014;
    cursor: pointer;
    padding: 8px 10px;
    border: none;
    outline: 1px solid;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s ease;
    transition: transform 0.4s, box-shadow 0.4s; /* Transição suave */
    box-shadow: 2px 1px 500px rgba(14, 41, 8, 0.582), 
                1px 3px 2px rgb(12, 65, 10); /* Intensificação da sombra */
}

.addListItem:hover{
  background-color: #4caf50;
  color: #c8f8ca;
  box-shadow: 5px 5px 5px rgba(142, 243, 121, 0.582), 
              2px 4px 10px 2px rgb(6, 34, 5); /* Intensificação da sombra */
}

.removeListItem {
  color: red;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-top: 10px;
  transition: transform 0.4s, box-shadow 0.4s; /* Transição suave */
  box-shadow: 2px 1px 500px rgba(255, 0, 0, 0.582),
              1px 3px 2px rgb(92, 13, 13); /* Intensificação da sombra */
}


.removeListItem:hover {
  background-color: red;
  color: #fff;
  box-shadow: 2px 3px 10px rgba(255, 0, 0, 0.582), 
              2px 4px 10px 2px rgb(59, 6, 6); /* Intensificação da sombra */
}

.Lista {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}


  
ul {
    list-style: none;
    padding: 0;
}
  
p {
    color: gray;
    font-style: italic;
    text-align: center;
    margin-top: 10px;
}

li {
  width: 100%;
  max-width: 30em;
  background: #f9f9f9;
  border: 1px solid #ddd;
  margin: 5px 0;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
}

li:hover {
  background: #e6f7ff;
  border-color: #b3e5fc;
  transform: scale(1.02) rotateX(2deg); /* Aumenta levemente o tamanho e uma leve rotação */
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2); /* Realça o item */
  transition: all 0.3s ease;
}


.fade-enter {
    opacity: 0;
    transform: translateY(-10px);
  }
.fade-enter-active {
  opacity: 1;
  transform: translateY(0) scale(1.05);
  transition: opacity 500ms, transform 500ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transform: translateY(10px) scale(0.95);
  transition: opacity 500ms, transform 500ms;
}

.fade-enter-active, .fade-exit-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s ease-out, transform 0.3s ease-out;
}


button:active {
    transform: scale(0.78); /* Dá um efeito de clique */
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2); /* Aparência de botão pressionado */
}

button:focus, input:focus {
  outline: 2px dashed #4caf50;
  outline-offset: 3px;
}


input[type="text"], input[type="number"] {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 10px;
  transition: all 0.3s ease; /* Transição suave */
}

input[type="text"]:focus, input[type="number"]:focus {
  outline: none;
  border-color: #4caf50;
  box-shadow: 0 0 5px rgba(72, 189, 89, 0.5); /* Destaque ao focar */
}


/*Efeito de Deslizar*/

.slide-enter {
  opacity: 0;
  transform: translateY(-20px); /* Começa acima da posição final */
}

.slide-enter-active {
  opacity: 1;
  transform: translateY(0); /* Desliza para a posição final */
  transition: opacity 300ms ease, transform 300ms ease; /* Transição suave */
}

.slide-exit {
  opacity: 1;
  transform: translateY(0);
}

.slide-exit-active {
  opacity: 0;
  transform: translateY(20px); /* Desliza para fora da lista */
  transition: opacity 300ms ease, transform 300ms ease;
}

.floating-point {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #ff0000;
  border-radius: 50%;
  pointer-events: none;
  z-index: 1000;
  transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out;
}
