
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Estilizar o Campo pesquisa*/
.search-container {
  position: relative;
  width: 100%;
  max-width: 300px; /* Largura da barra de busca */
  margin: 10px auto; /* Centraliza o campo */
}

.search-input {
  width: 100%;
  padding: 10px 40px 10px 10px; /* Espaço à direita para o ícone */
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.search-input:focus {
  outline: none;
  border-color: #4caf50;
  box-shadow: 0 0 5px rgba(72, 189, 89, 0.5);
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 10px; /* Alinha o ícone à direita */
  transform: translateY(-50%);
  font-size: 18px;
  color: gray;
  pointer-events: none; /* Garante que o ícone não interfere no clique ou no foco do campo */
}


/* Estilizar o Tema */

.theme-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: 1px solid #4caf50;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.3s ease;
}

.theme-toggle:hover {
  background-color: #4caf50;
  color: white;
}

/* Tema Claro */
.light-mode {
  background-color: #f0f0f5;
}

.light-mode h1, .light-mode p, .light-mode li {
  color: #333; /* Cor para todos os textos */
}

/* Tema Escuro */
.dark-mode {
  background-color: #2c2c2c;
}

.dark-mode h1, .dark-mode p, .dark-mode h3 {
  color: #e0e0e0; /* Cor para todos os textos */
}

.dark-mode li {
  list-style: none; /* Remove os marcadores padrão */
  padding: 10px; /* Espaçamento interno */
  margin: 10px 0; /* Espaçamento entre os itens */
  background-color: #fff; /* Fundo branco para destaque */
  border-radius: 8px; /* Cantos arredondados */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 
              0 1px 3px rgba(0, 0, 0, 0.06); /* Sombra elegante */
  transition: transform 0.2s, box-shadow 0.2s; /* Transição suave */
}

/* Efeito ao passar o mouse */
.dark-mode li:hover {
  transform: translateY(-3px); /* Elevação suave */
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2), 
              0 4px 6px rgba(0, 0, 0, 0.1); /* Intensificação da sombra */
}

.leaflet-container {
  width: 100%;
  height: 400px; /* Ajuste a altura conforme necessário */
  margin: 0 auto;
}

.custom-div-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent; /* Evita sobreposição de fundo */
  border: none;
}
.custom-div-icon i {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

